*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

img{
    max-width: 100%;
    border-radius: 60px;
}

.customers{
    display: flex;
    flex-wrap: wrap;
}
.info{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: .5rem;
    text-align: center;
}

ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    display: flex;
    flex-wrap: wrap;
}

li {
    text-align: center;
    justify-content: center;
    padding-left: 1rem;
}



/* .location{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */

p.email{
    justify-content: right;
    align-items: center;
}
